<div class="hutson-promo">
    <div class="hutson-promo-image">
        <div class="hutson-promo-image-wrapper">
            <img src="{{image}}" alt="" />
        </div>
    </div>
    <div class="hutson-promo-copy">
        <h2 class="hutson-promo-title">{{title}}</h2>
        <p class="hutson-promo-description">{{description}} <a href="{{link}}" target="_blank">Learn more</a></p>
        <span class="hutson-promo-end-date">Offer ends {{endDateString}}</span>
    </div>
</div>